################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Book Store/.vs/Book Store/v16/Browse.VC.opendb
